In [1]:
a = '3'
b = '4'
print(a+b)

34

In [2]:
print('hi'*3)

hihihi

In [3]:
print('-'*80)

--------------------------------------------------------------------------------

In [7]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 *4)

python java python java python java python java

In [9]:
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

print('이름: %s 나이: %d' % (name1, age1)) 
print('이름: %s 나이: %d' % (name2, age2))

print('이름: {0} 나이: {1}'.format(name1, age1))
print('이름: {0} 나이: {1}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [10]:
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

print('이름: {0} 나이: {1}'.format(name1, age1))
print('이름: {0} 나이: {1}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [11]:
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [17]:
상장주식수 = '5,969,782,550'
상장주식수 = int(상장주식수.replace(',',''))
print(상장주식수)
type(상장주식수)

5969782550

int

In [18]:
분기 = '2020/03(E) (IFRS연결)'
분기2 = 분기.split(' ')[0].split('(')[0]
print(분기2)

2020/03

In [20]:
data = '    삼성전자      '
data2 = data.strip()
data2

'삼성전자'

### TIL 

31번 문제: 문자열은 합할 수 있다. 

34번 문제: t1 + t2를 할 때 한칸 띄고 싶으면 `t1 + ' ' + t2 + ' '` 이렇게 나타내면 된다.   

35번 문제: `% formatting`은 `'%d, %s' %(변수1, 변수2)` 이 형식이다. 

37번 문제: `(f' 이름{변수1} 나이{변수2}')` 형태를 f-string이라고 한다. 

38번 문제: 문자열을 숫자형으로 형변환을 하려고 할 때 만약 숫자형에 `,`가 있다면 변환이 안되니 `replace`함수를 이용해서 컴마를 제거하고 `int()` 사용

40번 문제: 문자열의 공백을 지우는 함수 `strip()`을 사용합니다.