In [1]:
price = ['20180728',100,130,140,150,160,170]
price1 = price[1:]

In [4]:
nums = [1,2,3,4,5,6,7,8,9,10]
nums1 = nums[::2]
nums1

[1, 3, 5, 7, 9]

In [6]:
nums2 = nums[1::2]
nums2

[2, 4, 6, 8, 10]

In [12]:
nums = [1,2,3,4,5]
nums3 = nums[::-1]
nums3

[5, 4, 3, 2, 1]

In [19]:
interest = ['삼성전자','LG전자','Naver']
# interest.pop(1)
print(interest)
print(interest[0],interest[2])

['삼성전자', 'LG전자', 'Naver']
삼성전자 Naver

In [26]:

interest.append('SK하이닉스')
interest
del interest[-1]

In [28]:
del interest[-1]
interest

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스']

In [29]:
interest.append('미래에셋대우')

In [30]:
interest

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [35]:
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [36]:
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [37]:
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [39]:
string = '삼성전자/LG전자/Naver'
string1 = string.split('/')
print(string1)

['삼성전자', 'LG전자', 'Naver']

In [44]:
# data = [2,3,1,5,7,3,4,6]
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

### TIL

64번 문제: 슬라이싱을 통해 reverse하려면 `nums[::-1]` 범위는 전체 그리고 -1씩 건너뛴다.   
65번 문제: 바인딩이라는 말은 인덱싱을 이용해서 뽑아내라는 이야기인 듯 하다.   
66번 문제: join함수는 문자열 함수로 `''.join(적용대상)` 이렇게 사용합니다.      
**70번 문제: data를 정렬한 것을 다른 변수에 넣어주려고 하니 에러가 None 값을 반환합니다. 왜 그러는 걸까요?**

list의 추가하기   
+ intesrt, append  

삭제하기 
+ remove , pop