In [2]:
삼성전자 = 50000

print(삼성전자 * 10)

500000

In [5]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [12]:
s = 'hello'
t = 'python'

print(s)
print(t)

hello
python

In [15]:
print('{0}! {1}'.format(s,t))
#답지는 print(s+'!',t)

hello! python

In [16]:
a = 128
print(type(a))

<class 'int'>

In [18]:
a = "132"
type(a)

str

In [19]:
num_str = '720'
print(int(num_str))

720

In [21]:
num = 100
change_num = str(num)
print(change_num)

100

In [22]:
a = '15.79'
change_a = float(a)
print(change_a)

15.79

In [28]:
year = '2020'
change_year = int(year)
print(change_year - 1)
print(change_year - 2)
print(change_year -3)

2019
2018
2017
1
2
3

In [29]:
cost = 48584
result = cost *36 
print(result)

1749024

In [33]:
a = 2021
for i in range(1,4):
    a = + i
    print(a)

1
2
3

## TIL 21.01.09 

+ 변수를 print()안에 지정하고 \n으로 띄어쓰고 두 개를 동시 출력하려고 했으나 불가 print(s \n t)   
+ 변수지정은 문자열 포메팅이 필요한건가보다.
+ 향후 3년의 년도 출력에서   

a = 2021

`for i in range(1,4):
    change_year = - i
    print(change_year)` 
    이렇게 출력하려고 했는데 1,2,3 이렇게만 나왔다. 왜 그럴까?